@model SalesWeb.ViewModels.SellerFormViewModel;

@{
    ViewData["Title"] = "Adicionar Vendedor";
}

<h2>@ViewData["Title"]</h2>

<h4>Vendedor</h4>
<hr />
<div>
    <div>
        <form asp-action="Create">
            <div>
                <label asp-for="Seller.Name">Nome</label> @*O asp-for vincula o campo HTML à propriedade correspondente do modelo, ou seja, o que for digitado no campo input, será automaticamente associado à propriedade no asp-for, nesse caso, a propriedade Seller.Name*@
                <input asp-for="Seller.Name" />
                <span asp-validation-for="Seller.Name"></span>
            </div>
            <div>
                <label asp-for="Seller.Email">Email</label>
                <input asp-for="Seller.Email" />
                <span asp-validation-for="Seller.Email"></span>

            </div>
            <div>
                <label asp-for="Seller.BirthDate">Data de nascimento</label>
                <input asp-for="Seller.BirthDate" type="date"/>
                <span asp-validation-for="Seller.BirthDate"></span>

            </div>
            <div>
                <label asp-for="Seller.BaseSalary">Salário</label>
                <input asp-for="Seller.BaseSalary" />
                <span asp-validation-for="Seller.BaseSalary"></span>

            </div>
            <div>
                <label asp-for="Seller.DepartmentId"></label>
                <select asp-for="Seller.DepartmentId" asp-items="@(new SelectList(Model.Departments, "Id", "Name"))">
                    <option value="">Selecione</option>
                </select>
                <span asp-validation-for="Seller.DepartmentId"></span>
                @*O asp-item preenche automaticamente um select com uma lista de opções*@
            </div>
            <div>
                <input type="submit" value="Adicionar" />
            </div>
        </form>
    </div>
</div>

@*Para a validação funcionar no nível de JavaScript, ou seja, no nível do cliente:*@
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}