@page
@model EmailModel
@{
    ViewData["Title"] = "Email";
    ViewData["ActivePage"] = ManageNavPages.Email;
}

<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="email-form" method="post">
            <div asp-validation-summary="All" class="text-danger" role="alert"></div>
            @if (Model.IsEmailConfirmed)
            {
                <div class="form-floating mb-3 input-group">
                    <input asp-for="Email" class="form-control" placeholder="Entre com o novo email." disabled />
                        <div class="input-group-append">
                        <span class="h-100 input-group-text font-weight-bold" style="color: #F24D0D;">✓</span>
                        </div>
                    <label asp-for="Email" class="form-label"></label>
                </div>
            }
            else
            {
                <div class="form-floating mb-3">
                    <input asp-for="Email" class="form-control custom-input" placeholder="Entre com o email." disabled />
                    <label asp-for="Email" class="form-label fs-6"></label>
                    <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="nav-link mt-3 fw-semibold text-decoration-underline" style="color: #C43C08;">Solicitar verificação de email</button>
                </div>
            }
            <div class="form-floating mb-3">
                <input asp-for="Input.NewEmail" class="form-control custom-input" autocomplete="email" aria-required="true" placeholder="Novo email" />
                <label asp-for="Input.NewEmail" class="form-label fs-6">Novo email</label>
                <span asp-validation-for="Input.NewEmail" class="text-danger"></span>
            </div>
            <button id="change-email-button" type="submit" asp-page-handler="ChangeEmail" class="w-100 btn btn-outline-primary buttons-crud">Trocar email</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
