@using Microsoft.AspNetCore.Identity
@using SalesWeb.Areas.Identity.Data;
@using SalesWeb.Models;
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav d-flex flex-row">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="@UserManager.GetUserName(User)"><img src="~/images/profile2.png" width="30px" height="30px"/></a>
        </li>
        <li class="nav-item">
            <form id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="/" method="post" class="form-inline">
                <button type="submit" class="nav-link" title="Sair"><img src="~/images/exit.png" width="30px" height="30px" /></button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-white fw-semibold d-flex align-items-center gap-1 hover-underline-animation" asp-area="Identity" asp-page="/Account/Login">Entrar</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white fw-semibold d-flex align-items-center gap-1 hover-underline-animation" asp-area="Identity" asp-page="/Account/Register">Registrar</a>
        </li>
    }
</ul>
