@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirmar email";
}

<h1 class="display-5 mt-3">@ViewData["Title"]</h1>

<div class="alert alert-info" role="alert">
    @Model.StatusMessage
</div>
