@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Esqueceu a senha?";
}

<h1 class="display-5 mt-3">@ViewData["Title"]</h1>
<h2 class="h5 mt-3">Entre com o seu email</h2>
<div class="row mt-3">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control custom-input" autocomplete="username" aria-required="true" placeholder="nome@email.com" />
                <label asp-for="Input.Email" class="form-label fs-6"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-outline-primary buttons-crud">Resetar Senha</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
