@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Redefinição de senha";
}

<h1 class="display-5 mt-3">@ViewData["Title"]</h1>
<p class="fs-5" style="color: #C43C08;">
    Por favor, cheque o seu email.
</p>
