@page
@model LoginModel

@{
    ViewData["Title"] = "Entrar";
}

<h1 class="display-5 mt-3">@ViewData["Title"]</h1>
<div class="row mt-3">
    <div class="col-md-4">
        <section>
            <form id="account" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control custom-input" autocomplete="username" aria-required="true" placeholder="nome@email.com" />
                    <label asp-for="Input.Email" class="form-label fs-6">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control custom-input" autocomplete="current-password" aria-required="true" placeholder="Sua senha" />
                    <label asp-for="Input.Password" class="form-label fs-6">Senha</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="checkbox mb-0">
                    <label asp-for="Input.RememberMe" class="form-label">
                        <input class="form-check-input custom-checkbox" asp-for="Input.RememberMe" />
                        Lembrar de mim?
                    </label>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-outline-primary buttons-crud">Entrar</button>
                </div>
                <div class="mt-2">
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Esqueceu a senha?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Registrar um novo usuário</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
