@page
@model RegisterModel
@{
    ViewData["Title"] = "Crie sua conta";
}

<h1 class="display-5 mt-3">@ViewData["Title"]</h1>

<div class="row mt-3">
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control custom-input" autocomplete="username" aria-required="true" placeholder="nome@email.com" />
                <label asp-for="Input.Email" class="form-label fs-6">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control custom-input" autocomplete="new-password" aria-required="true" placeholder="Escolha sua senha" />
                <label asp-for="Input.Password" class="form-label fs-6">Senha</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control custom-input" autocomplete="new-password" aria-required="true" placeholder="Digite sua senha" />
                <label asp-for="Input.ConfirmPassword" class="form-label fs-6">Confirmar senha</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-outline-primary buttons-crud">Registrar</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
