@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Senha resetada";
}

<h1 class="display-5 mt-3">@ViewData["Title"]</h1>
<p class="fs-5">
    Sua senha foi resetada com sucesso. Por favor, <a asp-page="./Login">cique aqui para logar</a>.
</p>
