:root {
    --font-title: 'DM Sans';
    --font-body: 'Poppins';
}

html {
    font-size: 14px;
    background: #FBF4F4;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: var(--font-body);
    background: #FBF4F4;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
    text-align: start;
}

/*Sobreescrição*/
.navbar-expand-sm .navbar-nav .nav-link {
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin-left: 10px;
    margin-right: 10px;
}

.navbar-toggler-icon {
    background-image: url('/images/menu.png');
    background-size: contain;
}

.navbar-toggler {
    border: 1px solid #C43C08;
}

    .navbar-toggler:focus {
        box-shadow: none;
    }

@media (max-width: 575.98px) {
    .navbar-collapse {
        display: flex;
        flex-direction: column-reverse !important;
        align-items: start;
    }
}
.table-responsive::-webkit-scrollbar {
    height: 8px;
    width: 8px;
}

.table-responsive::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

.table-responsive::-webkit-scrollbar-thumb {
    background-color: #C43C08; 
    border-radius: 10px;
    border: 2px solid #f1f1f1;
}

/*Estilização Personalizada*/
bg-pages {
    background: #FBF4F4;
}

.bg-main {
    background: #F24D0D;
    color: #FFFFFF;
}

.hover-underline-animation {
    position: relative;
    display: inline-block;
    color: #FBF4F4;
    text-decoration: none;
}

    .hover-underline-animation::after {
        content: '';
        position: absolute;
        left: 0px;
        bottom: 8px;
        width: 100%;
        height: 2px;
        background-color: #C43C08;
        transform: scale(0);
        transform-origin: right;
        transition: transform 0.9s ease;
    }

    .hover-underline-animation:hover::after {
        transform: scale(1);
        transform-origin: left;
    }

.hover-fix-departamento::after {
    bottom: -2.5px;
}

@media (max-width: 768px) {
    .hover-underline-animation::after {
        display: none;
    }

    .hover-underline-animation.active {
        color: #C43C08 !important;
    }
}

.hover-underline-animation.active::after {
    transform: scale(1);
    transform-origin: left;
}

.border-header {
    border-bottom: 2px solid #C43C08;
}

.border-footer {
    border-top: 2px solid #C43C08;
}

.teste {
    border: 2px solid red;
}

.container {
    padding: 0 12px;
    max-width: none;
}

    .container > main {
        margin: 0;
    }

.buttons-home {
    background-color: #F24D0D;
    width: 200px;
    height: 70px;
    border: none;
    color: white;
    padding: 20px 16px;
    text-transform: uppercase;
}

@media (max-width: 991.98px) {
    .buttons-home {
        width: 100% !important;
    }
}

.buttons-home:hover {
    background-color: #C43C08;
}

.buttons-home:focus {
    border: none !important;
    box-shadow: none !important;
    background-color: #C43C08 !important;
}

.table-shadow {
    box-shadow: 5px 4px 13px 0px rgba(242,77,13,0.75);
    -webkit-box-shadow: 5px 4px 13px 0px rgba(242,77,13,0.75);
    -moz-box-shadow: 5px 4px 13px 0px rgba(242,77,13,0.75);
}

.padding-pages {
    padding: 0.3rem 4rem;
}

@media (max-width: 576px) {
    .padding-pages {
        padding: 0.3rem 1rem;
    }
}

a {
    text-decoration: none !important;
    color: #F24D0D !important;
}

a:visited {
    text-decoration: none !important;
}

.buttons-crud {
    border: 2px solid #F24D0D;
    color: #F24D0D !important;
}
@media (max-width: 991.98px) {
    .buttons-crud {
        width: 100% !important;
    }
    .buttons-crud:first-child {
        background-color: #F24D0D;
        margin-bottom: 4px;
        color: white !important;
    }
}

.buttons-crud:hover,
.buttons-crud:focus,
.buttons-crud:active {
    border: 2px solid #F24D0D !important;
    background: none !important;
    box-shadow: 0px 1px 8px 3px rgba(242,77,13,0.24);
    -webkit-box-shadow: 0px 1px 8px 3px rgba(242,77,13,0.24);
    -moz-box-shadow: 0px 1px 8px 3px rgba(242,77,13,0.24);
}

.button-danger {
    border: 2px solid #DC3545;
    color: #DC3545;
}
@media (max-width: 991.98px) {
    .button-danger {
        width: 100% !important;
    }

        .button-danger:first-child {
            background-color: #DC3545 !important;
            margin-bottom: 4px !important;
            color: white !important;
        }
}

.button-danger:hover,
.button-danger:focus,
.button-danger:active {
    border: 2px solid #DC3545;
    background: none !important;
    color: #DC3545;
    box-shadow: 0px 1px 8px 3px rgba(220,53,69,0.24);
    -webkit-box-shadow: 0px 1px 8px 3px rgba(220,53,69,0.24);
    -moz-box-shadow: 0px 1px 8px 3px rgba(220,53,69,0.24);
}


.custom-input {
    border: 2px solid #ADADAD;
    color: #ADADAD !important;
}
@media (max-width: 991.98px) {
    .custom-input {
        width: 100% !important;
    }
}

.custom-input:focus,
.custom-input:active {
    color: #3D3D3D !important;
    border-color: #F24D0D;
    background: none !important;
    box-shadow: 0px 1px 8px 3px rgba(242,77,13,0.24);
    -webkit-box-shadow: 0px 1px 8px 3px rgba(242,77,13,0.24);
    -moz-box-shadow: 0px 1px 8px 3px rgba(242,77,13,0.24);
}

::-webkit-scrollbar {
    width: 8px; 
}

::-webkit-scrollbar-horizontal {
    height: 8px; 
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
    background-color: #C43C08; 
    border-radius: 10px; 
    border: 2px solid #f1f1f1; 
}

html {
    scrollbar-width: thin;
    scrollbar-color: #C43C08 #f1f1f1;
}
