:root {
    --font-title: 'DM Sans';
    --font-body: 'Poppins';
}

html {
    font-size: 14px;
    background: #FBF4F4;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: var(--font-body);
    background: #FBF4F4;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
    text-align: start;
}

/*Sobreescrição*/
.navbar-expand-sm .navbar-nav .nav-link {
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin-left: 10px;
    margin-right: 10px;
}

.navbar-toggler-icon {
    background-image: url('/images/menu.png');
    background-size: contain;
}

.navbar-toggler {
    border: 1px solid #C43C08;
}

    .navbar-toggler:focus {
        box-shadow: none;
    }

@media (max-width: 575.98px) {
    .navbar-collapse {
        display: flex;
        flex-direction: column-reverse !important;
        align-items: start;
    }
}

/*Estilização Personalizada*/
bg-pages {
    background: #FBF4F4;
}

.bg-main {
    background: #F24D0D;
    color: #FFFFFF;
}

.hover-underline-animation {
    position: relative;
    display: inline-block;
    color: #FBF4F4;
    text-decoration: none;
}

    .hover-underline-animation::after {
        content: '';
        position: absolute;
        left: 0px;
        bottom: 8px;
        width: 100%;
        height: 2px;
        background-color: #C43C08;
        transform: scale(0);
        transform-origin: right;
        transition: transform 0.9s ease;
    }

    .hover-underline-animation:hover::after {
        transform: scale(1);
        transform-origin: left;
    }

@media (max-width: 768px) {
    .hover-underline-animation::after {
        display: none;
    }

    .hover-underline-animation.active {
        color: #C43C08 !important;
    }
}

.hover-underline-animation.active::after {
    transform: scale(1);
    transform-origin: left;
}

.border-header {
    border-bottom: 2px solid #C43C08;
}

.border-footer {
    border-top: 2px solid #C43C08;
}

.teste {
    border: 2px solid red;
}

.container {
    padding: 0 12px;
    max-width: none;
}

    .container > main {
        margin: 0;
    }

.buttons-home {
    background-color: #F24D0D;
    width: 200px;
    height: 70px;
    border: none;
    color: white;
    padding: 20px 16px;
    text-transform: uppercase;
}

@media (max-width: 991.98px) {
    .buttons-home {
        width: 100% !important;
    }
}

.buttons-home:hover {
    background-color: #C43C08;
}

.buttons-home:focus {
    border: none;
    box-shadow: none;
    background-color: #C43C08;
}
