@{
    ViewData["Title"] = "Início";
}

<div class="bg-pages d-flex flex-row justify-content-evenly align-content-center pt-3">
    <div class="teste d-flex flex-column justify-content-center">
        <h2 class="display-4">Gerencie aqui sua equipe</h2>
        <div class="teste">
            <a asp-area="" asp-controller="Departments" asp-action="Index">
                <button>Departamentos</button>
            </a>
            <a asp-area="" asp-controller="Sellers" asp-action="Index">
                <button>Vendedores</button>
            </a>
            <a asp-area="" asp-controller="SalesRecords" asp-action="Index">
                <button>Vendas</button>
            </a>
        </div>
    </div>
    <div class="teste ">
        <img src="~/images/homepage2.png" />
    </div>
</div>
